
@{
    if(User.Identity.IsAuthenticated){
    <form method="post" asp-page="/Account/Logout" class="form-inline">
                Welcome @User.Identity.Name
                <button class="btn btn-primary">Log Out</button>
    </form>
    }

else{
    <a class="btn btn-link" asp-page="/Account/Login">Login</a>
}
}